<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Currency or DJ?</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css?cachebust=awdasd">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

    <meta property="og:url" content="https://dangrover.github.io/crypto-or-edm/index.html" />
    <meta property="og:title" content="Cryptocurrency or DJ?" />
    <meta property="og:description" content="Can you guess which names refer to cryptocurrencies and which refer to DJs? We bet you can't!"
    />
    <meta name="description" content="Can you guess which names refer to cryptocurrencies and which refer to DJs? We bet you can't!">
</head>

<body>
    <div id="particles"></div>

    <div class="container">
        <!-- TITLE --> 
        <div class="row" id="title">
            <div class="col-lg-12">
                <img src="img/logo.png" alt="Currency or DJ?" />
            </div>
        </div>

        <!-- GAME --> 
        <div id="game" class="row" v-cloak>

            <div class="col-lg-4 col-md-4"></div>

            <!-- GAME OVER / SUMMARY SCREEN -->
            <div id="summary" v-if="ended" class="col-lg-4 col-md-4 col-sm-12">

                <h2 class="points">You got {{total_correct}}/{{game_questions.length}}!</h2>
                <p class="judgement" v-if="(total_correct/game_questions.length) > 0.5">
                    You should be a crypto fund manager or a record producer.
                </p>
                <p class="judgement" v-else>
                    Don't quit your day job!
                </p>

                <p class="share">
                    <h4>Share your results!</h4>

                </p>
            </div>

            <!-- QUESTION SCREEN -->
            <div id="question" v-else-if="started" class="col-lg-4 col-md-4 col-sm-12">
                <p id="index">{{current_question_idx+1}} / {{game_questions.length}}</p>

                <div v-if="guessed">
                    <p id="explanation">
                        <span class="youguessed">You guessed
                            <strong>{{game_questions[current_question_idx].name}}</strong> is a
                            <strong>{{game_data.category_names[guessed]}}</strong>.
                            <br/>
                            <br/>
                        </span>
                        <span class="correct" v-if="guessed_correct">Correct!</span>
                        <span class="wrong" v-else>Wrong!</span>
                        <br/>
                        <!-- use raw html for descriptions -->
                        <span class="description" v-html="game_questions[current_question_idx].description">
                        </span>
                        <span v-if="isCrypto == true" class="market_cap">It has a market cap of ${{Number(game_questions[current_question_idx].coin_marketcap).toLocaleString('en')}}.</span>
                    </p>
                    <button type="button" class="btn btn-lg btn-default" v-on:click="nextQuestion">Next</button>
                </div>
                <div id="choices" v-else>
                    <h2 id="prompt">{{game_questions[current_question_idx].name}}</h2>
                    <button type="button" class="btn btn-lg btn-default guess" v-on:click="guess('crypto')">Currency</button>
                    <button type="button" class="btn btn-lg btn-default guess" v-on:click="guess('edm')">DJ</button>
                </div>
            </div>

            <!-- LANDING SCREEN -->
            <div id="landing" class="col-lg-4 col-md-4 col-sm-12" v-else>
                <p id="intro-text">
                    In recent years, both the cryptocurrency and electronic dance music scenes have exploded.
                    <br/>
                    <br/> Can you tell which names refer to currencies and which refer to DJs? We bet you can't!
                    <br/>
                </p>
                <br/>
                <button id="start-game" class="btn btn-primary btn-lg" v-on:click="startGame">Start</button>
            </div>

            <div class="col-lg-4 col-md-4"></div>

        </div>


        <!-- Colophon -->

        <div class="row">
            <div class="col-lg-4 col-md-4"></div>

            <div class="col-lg-4 col-md-4 col-sm-12" id="colophon">
                <p>This waste of time brought to you by
                <a href="http://twitter.com/dangrover">@dangrover</a> and
                <a href="http://twitter.com/mzaveri">@mzaveri</a>.
                </p>
                <p>
                    <a href="http://github.com/dangrover/crypto-or-edm">Fork on Github</a>
                </p>
            </div>

            <div class="col-lg-4 col-md-4"></div>
        </div>


    </div>


    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111860292-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-111860292-1');
    </script>
</body>

</html>