body{
    background:#333;
}

*{
    font-family:'Inconsolata', monospace;
}

// Cloak stuff before vue loads
// Per: https://medium.com/vuejs-tips/v-cloak-45a05da28dc4
[v-cloak] {display: none}

// Use particles as background, as is required of anything crypto-related.
// Per: https://github.com/VincentGarreau/particles.js/issues/216#issuecomment-315659059
#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#title{
    color:#eee;
    text-align:center;
    margin-top:2em;
    padding-bottom:1em;
}

#game-body{
    float: none;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
    padding:2em;
    border-radius:0.25em;
    margin-top:2em;
}

#landing{
    text-align:center;
    color:#eee;

    #intro-text{
        font-size:125%;
    }

    #start-game{
        width:80%;
        margin-top:1em;
    }
}

#question{
    text-align: center;
    z-index: 100;

    #index{
        color:#eee;
    }

    #prompt{
        color:#eee;
        margin-bottom:1em;
    }

    #choices{
        margin-right:1em;

        .guess{
            width:8em;
            margin-bottom:1em;
        }

        z-index: 100;
    }

    #explanation{
        color:#eee;
        margin-bottom:2em;

        .correct{
            color:#0f0;
        }

        .wrong{
            color:#f00;
        }

        .correct, .wrong{
            font-size:140%;
        }

        .description{
            line-height:1.5em;
            display:block;
        }

        .market_cap{
            display:block;
            color: #fe33ac;
            font-size: 120%;
            font-weight: bold;
            padding-top:2em;
        }
    }
}

#summary{
    text-align: center;
    .points, .judgement, .share, .playagain{
        color:#eee;
    }

    .playagain{
        margin-top:2em;
    }

    .share{
        margin-top:3em;

        
        h4, .share-icons{
            color:#eee;
           
        }

        .share-icons{
            font-size:48px;
        }

        .share-icons a {
            color:#ccc;
        }

        .share-icons a:hover{
            color:#fff;
        }
        

    }


}

#colophon{
    
    padding-top:8em;
    color:#bbb;
    text-align:center;
    font-size:75%;

    a{
        color:#ddd; 
        text-decoration: none; 
        border-bottom: #bbb solid 1px; 
    }
}

// Right / Wrong Overlays

.overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:100;
    text-align:center;
    padding-top:20%;

    p{
        font-size:500%;
        font-weight:bold;
        color:#fff;
        letter-spacing:0.15em;
    }

    display:none;
    opacity:0;
}

#right-overlay{
    background:#060;
}

#wrong-overlay{
    background:#600;
}