body{
    background:#333;
}

*{
    font-family:'Inconsolata', monospace;
}

// Cloak stuff before vue loads
// Per: https://medium.com/vuejs-tips/v-cloak-45a05da28dc4
[v-cloak] {display: none}

// Use particles as background, as is required of anything crypto-related.
// Per: https://github.com/VincentGarreau/particles.js/issues/216#issuecomment-315659059
#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#title{
    color:#eee;
    text-align:center;
    margin-top:2em;
    padding-bottom:1em;
   
}

#landing{
    text-align:center;
    color:#eee;
    #intro-text{
        margin-top:2em;
    }
}

#question{
    text-align: center;
    z-index: 100;

    #index{
        color:#eee;
    }

    #prompt{
        color:#eee;
        margin-bottom:1em;
    }

    #choices{
        margin-right:1em;

        .guess{
            width:8em;
            margin-bottom:1em;
        }

        z-index: 100;
    }

    #explanation{
        color:#eee;
        margin-bottom:2em;

        .correct{
            color:#0f0;
        }

        .wrong{
            color:#f00;
        }

        .correct, .wrong{
        }

        .description{
            display:block;
        }

        .coininfo{
            
        }
    }
}

#summary{
    text-align: center;
    .points, .judgement, .share{
        color:#eee;
    }

    .share{
        margin-top:3em;

        h4{
            color:#eee;
        }
    }

}