body{
    background:#333;
}

#title{
    color:#eee;
    text-align:center;
    margin-top:2em;
    h1 {
        font-family:'Inconsolata', monospace;
        font-weight:bold;
        font-size:40px;
        text-transform:uppercase;
        letter-spacing:0.15em;
    }
}